%h1 React Calendar

%h2 Appointments
- puts "\n---- @appointments.count: #{@appointments.count} ----\n"
- puts "\n---- @appointments.first.title: #{@appointments.first.title} ----\n"

= react_component("Appointments", appointments: @appointments)
